/* the CSS sprite */
.bg-list {
    width: 8px; height: 9px;
    background: url('img/css_sprites.png') -10px -182px;
}

.bg-logo {
    width: 159px; height: 75px;
    background: url('img/css_sprites.png') -10px -10px;
    
}

.bg-online_01 {
    width: 72px; height: 57px;
    background: url('img/css_sprites.png') -10px -105px;
}

.bg-online_04 {
    width: 71px; height: 57px;
    background: url('img/css_sprites.png') -189px -10px;
}

.bg-search_01 {
    width: 30px; height: 30px;
    background: url('img/css_sprites.png') -189px -87px;
    display: inline-block;
}
.bg-icon_03 {
    width: 14px; height: 12px;
    background: url('img/css_sprites.png') -239px -87px;
}

.bg-icon_06 {
    width: 14px; height: 12px;
    background: url('img/css_sprites.png') -189px -137px;
}

.bg-icon_08 {
    width: 14px; height: 12px;
    background: url('img/css_sprites.png') -223px -137px;
}

.bg-icon_10 {
    width: 14px; height: 12px;
    background: url('img/css_sprites.png') -152px -105px;
}

/* the style used in the whole page */
body, 
a:link{
    color: #d0c8c8;
    /* color: #3a3a3e; */
}
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* header */
.top-full{
    background-color: #444444;
}
.top-middle{
    width: 63%;
    margin-left: 17%;
    padding: 10px 0;
    font-size: 0.6rem;
}
.top-middle a:visited{
    color: #d0c8c8;
}
.top-middle a:hover{
    color: #00A7EA;
}
.top-middle ul li{
    float: right;
    margin-right: 2rem;
}
nav{
    width: 63%;
    margin-left: 17%;
}
nav ul{
    float: right;
}
nav a:link{
    color: black;
}
nav ul li{
    display: inline-block;
    margin-right: 0.8rem;
    line-height: 75px;
}
nav ul li:last-child{
    position: relative;
}
nav .bg-search_01{
    position: absolute;
    left: 110px;
    top: 23px;
}
nav ul li input{
    padding: 5px;
    background: #f5f5f5;
    border: none;
}
nav ul li:last-of-type a:hover .bg-search_01{
    width: 30px; height: 30px;
    background: url('img/css_sprites.png') -102px -105px;
}
.blog-head{
    height: 200px;
    background-image: url("img/banner.png");

}
.blog-middle{
    width: 63%;
    margin-left:17%;
    color: white;
}
.blog-middle h1{
    font-size: 1.5rem;
    margin-top:8%;
    display: inline-block;
}
.blog-middle h3{
    margin-top: 2%;
}
/* link、visited、hover、active */
.blog-middle span a:link,
.blog-middle span a:visited{
    color: #00A7EA;
}
.blog-middle span a:hover{
    color: white;
}
.changePage{
    margin-top: 20px;
}
.changePage a{
    display: inline-block;
}
.changePage li:hover,
.changePage .checked{
    color: white;
    background: #00a7ea;
}

/* main */
.main{
    background: #f2f2f2;
    padding-bottom: 30px;
     
}
.main .articleList{
    width: 50%;
    margin-left: 17%;
    float: left;
}
.main .mainList{
    width: 20%;
    float: right;
}
.main article{
    margin-top: 10px;
    padding: 10px;
    background: white;
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
    overflow: hidden;
}
.main ul li {
    display: inline-block;
    margin-top: 15px;
    font-size: 0.8rem;
}
.main ul li:nth-child(odd){
    margin-left: 12px;
}
.main article img{
    float: left;
    width: 206px;
    height: 163px;
    margin-right:10px;
}
.main article p {
    height: 90px;    
    padding: 10px;
    text-indent: 2em;
    font-size: 0.8rem;
    /* 处理文字溢出的情况 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.main article h3{
    display: inline-block;
    font-size: 0.9rem;
    color:#3a3a3e;
}

.menuList{
    width: 20%;
    float: right;
    margin-top: 16px;
    margin-right: 140px;
    color: gray;
    background: white;
    padding: 10px;
}
.menuList a:link{
    color: #3a3a3e;
}
.item{
    margin-bottom: 20px;
}
.item h3{
    display: inline-block;
    font: bold 0.9rem arial,sans-serif;
    margin-bottom: 10px;
    color: #3a3a3e;
}
.item .classify-website-ul{
    width:250px;
}
 
.item .classify-website-ul li {
    text-align: center;
    display: inline-block;
    width: 60px;
    padding: 5px 20px;
    background: #f2f2f2;
}
.item hr{
    margin: 5px 0 20px 0;
    border: 1px solid #eaeaea;
}
.item .search{
    width: 200px;
    height: 30px;
    background: #f2f2f2;
    border: none;
}
.item .buttom{
    border: none;
    color: white;
    text-align: center;
    padding: 6px 10px;
    background: #00a7ea;
}
.item .buttom:hover{
    background: red;
}
.new-message li{
    width: 90%;
    border-bottom: 1px dotted  #eaeaea;
    padding: 10px 0;
    margin-left: 12px;
}
.new-message .blue{
    color: white;
    display: inline-block;
    background: #00a7ea;
    padding: 5px;
    margin-right: 20px;
}
.item .articles h5{
    float: left;
    margin-left: 10px;
    margin-top: -4px;
}
.item .articles div{
    float: left;
}
.item .articles>li{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted  #eaeaea;
}
.changePage{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
.changePage li{
    display: inline-block;
    width: 30px;
    padding: 10px 0;
    background: white;
    margin: 0 5px;
}
.changePage li a:link{
    color: black;
}
.links{
    color: black;
}
 
/* footer */
footer{
    padding: 20px 0;
    text-align: center;
}


